In [177]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [178]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\chris\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [179]:
url = 'https://redplanetscience.com/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
content_titles = soup.find_all('div', class_='content_title')
news_title = content_titles[0].get_text()
news_title

'Two of a Space Kind: Apollo 12 and Mars 2020'

In [180]:
article_teaser_body = soup.find_all('div', class_='article_teaser_body')
news_p = article_teaser_body[0].get_text()
news_p

'Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.'

In [183]:
url = 'https://spaceimages-mars.com'
browser.visit(url)
browser.links.find_by_partial_text('FULL IMAGE').click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
img_url = soup.find('img', class_='fancybox-image')['src']
featured_image_url = url + "/" + img_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [182]:
url = 'https://galaxyfacts-mars.com'
mars_facts = pd.read_html(url)
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [169]:
mars_facts_df = mars_facts[1]
mars_facts_df = mars_facts_df.rename(columns={0: "Mars Facts Index", 1: "Mars Facts"})
mars_facts_df = mars_facts_df.set_index('Mars Facts Index')

mars_facts_df

                                         Mars Facts
Mars Facts Index
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [170]:
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n    </tr>\n    <tr>\n      <th>Mars Facts Index</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [171]:
url = 'https://marshemispheres.com/'
browser.visit(url)
hemisphere_image_urls = []
hemi_link = 0

for x in range(0, 4):
    
    browser.links.find_by_partial_text('Hemisphere Enhanced')[hemi_link].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.find('h2', class_='title').get_text()
    img_url = soup.find('li')('a')
    hemi_dict = {'title': title,'img_url': img_url}
    hemisphere_image_urls.append(hemi_dict)
    browser.back()
    hemi_link = hemi_link + 1
browser.quit()

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': [<a href="images/full.jpg" target="_blank">Sample</a>]},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': [<a href="images/schiaparelli_enhanced-full.jpg" target="_blank">Sample</a>]},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': [<a href="images/syrtis_major_enhanced-full.jpg" target="_blank">Sample</a>]},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': [<a href="images/valles_marineris_enhanced-full.jpg" target="_blank">Sample</a>]}]